<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
<title>Metronic | A Responsive Email Template</title>
<style type="text/css">
html { -webkit-text-size-adjust:none; -ms-text-size-adjust: none;}
@media only screen and (max-device-width: 680px), only screen and (max-width: 680px) { 
	*[class="table_width_100"] {
		width: 96% !important;
	}
	*[class="border-right_mob"] {
		border-right: 1px solid #dddddd;
	}
	*[class="mob_100"] {
		width: 100% !important;
	}
	*[class="mob_center"] {
		text-align: center !important;
		padding: 0 !important;
	}
	*[class="mob_center_bl"] {
		float: none !important;
		display: block !important;
		margin: 0px auto;
	}	
	.iage_footer a {
		text-decoration: none;
		color: #929ca8;
	}
	img.mob_display_none {
		width: 0px !important;
		height: 0px !important;
		display: none !important;
	}
	img.mob_width_50 {
		width: 40% !important;
		height: auto !important;
	}
	img.mob_width_80 {
		width: 80% !important;
		height: auto !important;
	}
	img.mob_width_80_center {
		width: 80% !important;
		height: auto !important;
		margin: 0px auto;
	}
	.img_margin_bottom {
		font-size: 0;
		height: 25px;
		line-height: 25px;
	}
}
.table_width_100 {
	width: 680px;
}
/***************************/
			
/* Style a bit the inline editables. */
.cke_editable.cke_editable_inline
{
	cursor: pointer;
}

/* Once an editable element gets focused, the "cke_focus" class is
   added to it, so we can style it differently. */
.cke_editable.cke_editable_inline.cke_focus
{
	box-shadow: inset 0px 0px 20px 3px #ddd, inset 0 0 1px #000;
	outline: none;
	background: #eee;
	cursor: text;
}

/* Avoid pre-formatted overflows inline editable. */
.cke_editable_inline pre
{
	white-space: pre-wrap;
	word-wrap: break-word;
}

/*****************************************/
</style>
</head>

<body style="padding: 0px; margin: 0px;">
<div id="mailsub" class="notification" align="center">

<table width="100%" border="0" cellspacing="0" cellpadding="0" style="min-width: 320px;"><tr><td align="center" bgcolor="#eff3f8">


<!--[if gte mso 10]>
<table width="680" border="0" cellspacing="0" cellpadding="0">
<tr><td>
<![endif]-->

<table border="0" cellspacing="0" cellpadding="0" class="table_width_100" width="100%" style="max-width: 680px; min-width: 300px;">
	<tr><td>
	<!-- padding --><div style="height: 80px; line-height: 80px; font-size: 10px;">&nbsp;</div>
	</td></tr>
	<!--header -->
	<tr><td align="center" bgcolor="#ffffff">
		<!-- padding --><div style="height: 10px; line-height: 10px; font-size: 10px;">&nbsp;</div>
		<table width="90%" border="0" cellspacing="0" cellpadding="0">
			<tr><td align="left"><!-- Item -->
<table style="width:100%;">
	<tr>
    	<td>
					<table class="mob_center" width="115" border="0" cellspacing="0" cellpadding="0" align="left" style="border-collapse: collapse;">
						<tr><td align="left" valign="middle">
							<!-- padding --><div style="height: 20px; line-height: 20px; font-size: 10px;">&nbsp;</div>
							<table width="115" border="0" cellspacing="0" cellpadding="0" >
								<tr><td align="left" valign="top" class="mob_center">
                                <div id="block1" contenteditable="true">
									<a href="#" target="_blank" style="color: #596167; font-family: Arial, Helvetica, sans-serif; font-size: 13px;">
									<font face="Arial, Helvetica, sans-seri; font-size: 13px;" size="3" color="#596167">
									<img src="../app/templates/images/logo-2.gif" width="115" height="19" alt="Metronic" border="0" style="display: block;" /></font></a>
                                </div>
								</td></tr>
							</table>						
						</td></tr>
					</table><!-- Item END--><!--Item --> 

</td>
<td>
					<table width="88" border="0" cellspacing="0" cellpadding="0" align="right" style="border-collapse: collapse;">
						<tr><td align="right" valign="middle">
							<!-- padding --><div style="height: 20px; line-height: 20px; font-size: 10px;">&nbsp;</div>
							<table width="100%" border="0" cellspacing="0" cellpadding="0" >
								<tr><td align="right">
									<!--social -->
									<div class="mob_center_bl" style="width: 88px;">
									<table border="0" cellspacing="0" cellpadding="0">
										<tr><td width="30" align="center" style="line-height: 19px;">
                                        <div id="block2" contenteditable="true">
											<a href="#" target="_blank" style="color: #596167; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
											<font face="Arial, Helvetica, sans-serif" size="2" color="#596167">
											<img src="../app/templates/images/facebook-2.gif" width="10" height="19" alt="Facebook" border="0" style="display: block;" /></font></a>
                                        </div>
										</td><td width="39" align="center" style="line-height: 19px;">
                                        <div id="block3" contenteditable="true">
											<a href="#" target="_blank" style="color: #596167; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
											<font face="Arial, Helvetica, sans-serif" size="2" color="#596167">
											<img src="../app/templates/images/twitter-2.gif" width="19" height="16" alt="Twitter" border="0" style="display: block;" /></font></a>
                                        </div>
										</td><td width="29" align="right" style="line-height: 19px;">
                                        <div id="block4" contenteditable="true">
											<a href="#" target="_blank" style="color: #596167; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
											<font face="Arial, Helvetica, sans-serif" size="2" color="#596167">
											<img src="../app/templates/images/dribbble-2.gif" width="19" height="19" alt="Dribbble" border="0" style="display: block;" /></font></a>
                                        </div>
										</td></tr>
									</table>
									</div>
									<!--social END-->
								</td></tr>
							</table>
						</td></tr>
					</table><!-- Item END-->
</td>
</tr>
</table></td>
			</tr>
		</table>
		<!-- padding --><div style="height: 30px; line-height: 30px; font-size: 10px;">&nbsp;</div>
	</td></tr>
	<!--header END-->

	<!--content 1 -->
	<tr><td align="center" bgcolor="#f8f8f8">
		<table width="90%" border="0" cellspacing="0" cellpadding="0">
			<tr><td align="center">
				<!-- padding --><div style="height: 60px; line-height: 60px; font-size: 10px;">&nbsp;</div>
				<div style="line-height: 44px;">
					<font face="Arial, Helvetica, sans-serif" size="5" color="#6b6b6b" style="font-size: 34px;">
					<span style="font-family: Arial, Helvetica, sans-serif; font-size: 34px; color: #6b6b6b;">
						<div id="block5" contenteditable="true">Diam nonumy <strong>nibh elit</strong> dolore amet</div>
					</span></font>
				</div>
				<!-- padding --><div style="height: 20px; line-height: 20px; font-size: 10px;">&nbsp;</div>
			</td></tr>
			<tr><td align="center">
				<div style="line-height: 24px;">
					<font face="Arial, Helvetica, sans-serif" size="4" color="#9c9c9c" style="font-size: 15px;">
					<span style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #9c9c9c;">
						<div id="block6" contenteditable="true">Lorem ipsum dolor sit amet consectetuer sed<br> diam nonumy nibh elit dolore dolor sit.</div>
					</span></font>
				</div>
				<!-- padding --><div style="height: 50px; line-height: 50px; font-size: 10px;">&nbsp;</div>
			</td></tr>
			<tr><td align="center">
				<div style="line-height: 24px;">
                <div id="block7" contenteditable="true">
					<a href="#" target="_blank" style="color: #596167; font-family: Arial, Helvetica, sans-serif; font-size: 13px;">
						<font face="Arial, Helvetica, sans-seri; font-size: 13px;" size="3" color="#596167">
							<img src="../app/templates/images/trial.gif" alt="30-DAYS FREE TRIAL" border="0" class="mob_width_80 mob_center_bl" style="display: block;width:308px;height:55px;" /></font></a></div>
				</div>
				<!-- padding --><div style="height: 70px; line-height: 70px; font-size: 10px;">&nbsp;</div>
			</td></tr>
		</table>		
	</td></tr>
	<!--content 1 END-->


	<!--content 2-1 -->
	<tr><td align="center" bgcolor="#ffffff" style="border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #eff2f4;">
		<table width="90%" border="0" cellspacing="0" cellpadding="0">
			<tr><td align="center">
				<!-- padding --><div style="height: 74px; line-height: 74px; font-size: 10px;">&nbsp;</div>

<table style="width:100%;">
	<tr>
    	<td style="width:35%;">
					<div id="block8" contenteditable="true">
							
							<img src="../app/templates/images/img1.jpg" alt="Metronic" border="0" style="display: block; width: 185px; height: 138px;" />
							
					</div>
</td>
<td>
					
														<strong style="font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: #6b6b6b;">
		
						<div id="block9" contenteditable="true"><a href="#2" target="_blank" style="color: #6b6b6b; text-decoration: none;">UNLIMITED LAYOUTS</a></div>
							</strong>	
							<!-- padding --><div style="height: 13px; line-height: 13px; font-size: 10px;">&nbsp;</div>
							
								
								<span style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #9c9c9c;">
									<div id="block10" contenteditable="true">Lorem ipsum dolor sit amet consectetuer sed et diam noumy elit dolore. Lorem ipsum dolor sit amet consectetuer sed et diam noumy elit dolore. Lorem ipsum dolor sit amet consectetuer sed et diam noumy elit dolore.</div>
								</span>
							
					
</td>
</tr>
</table>							
			</td></tr>
			<tr><td><!-- padding --><div style="height: 35px; line-height: 35px; font-size: 10px;">&nbsp;</div></td></tr>
		</table>		
	</td></tr>
	<!--content 2-1 END-->

	<!--content 2-2 -->
	<tr><td align="center" bgcolor="#ffffff" style="border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #eff2f4;">
		<table width="90%" border="0" cellspacing="0" cellpadding="0">
			<tr><td align="center">
				<!-- padding --><div style="height: 40px; line-height: 40px; font-size: 10px;">&nbsp;</div>

<table style="width:100%;">
	<tr>
    	<td style="width:35%;">
                        <div id="block11" contenteditable="true">
							<a href="#" target="_blank" style="color: #596167; font-family: Arial, Helvetica, sans-serif; font-size: 13px;">
							<font face="Arial, Helvetica, sans-seri; font-size: 13px;" size="3" color="#596167">
							<img src="../app/templates/images/img-2.jpg" alt="Metronic" border="0" class="mob_center_bl" style="display: block; width: 185px; height: 138px;" /></font></a></div>
							<!-- padding --><div class="img_margin_bottom">&nbsp;</div>
</td>
<td>
	
								<strong style="font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: #6b6b6b;">
									<div id="block12" contenteditable="true"><a href="#2" target="_blank" style="color: #6b6b6b; text-decoration: none;">GREAT SUPPORT</a></div>
								</strong>
							
							<!-- padding --><div style="height: 13px; line-height: 13px; font-size: 10px;">&nbsp;</div>
								<span style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #9c9c9c;">
									<div id="block13" contenteditable="true">Lorem ipsum dolor sit amet consectetuer sed et diam noumy elit dolore. Lorem ipsum dolor sit amet consectetuer sed et diam noumy elit dolore. Lorem ipsum dolor sit amet consectetuer sed et diam noumy elit dolore.</div>
								</span>
</td>
</tr>
</table>							
						</td></tr>
					</table>
									
			</td></tr>
			<tr><td><!-- padding --><div style="height: 35px; line-height: 35px; font-size: 10px;">&nbsp;</div></td></tr>
		</table>		
	</td></tr>
	<!--content 2-2 END-->








	<tr><td>
	<!-- padding --><div style="height: 80px; line-height: 80px; font-size: 10px;">&nbsp;</div>
	</td></tr>
</table>
<!--[if gte mso 10]>
</td></tr>
</table>
<![endif]-->
 
</td></tr>
</table>
			
</div> 
</body>
</html>