<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>CarbonGraffiti.com Email Marketing Templates - Newsletter 1 column</title>
<style>
a:link {
color:#046380;
text-decoration:underline;
}
a:visited {
color:#A7A37E;
text-decoration:none;
}
a:hover {
color:#002F2F;
text-decoration:underline;
}
a:active {
color:#046380;
text-decoration:none;
}
</style>
</head>
<body>
<table align="center" width="600" style="border: #666666 1px solid;" cellpadding="0" cellspacing="0">
  <tr>
    <td bgcolor="#efefef" style="border-bottom: #666666 1px solid;" ><br>
      <TABLE border="0" align="center">
        <TR>
          <TD><img src="images/generic_header.gif" alt="" border="0"></TD>
        </TR>
      </TABLE>
      <br>
    </td>
  </tr>
  <tr>
    <td><TABLE width="510" border="0" cellpadding="0" cellspacing="0" align="center">
        <TR>
          <TD><p style="font-family: arial,  helvetica, sans-serif;font-size: 25px;color: #666666;"><br>
             FIELD1</p>
            <p style="font-family: arial,  helvetica, sans-serif;font-size: 15px;color: #666666;">
		  				FIELD2</p>
            <p style="font-family: arial,  helvetica, sans-serif;font-size: 12px;color: #666666;">FIELD3</p>
            <table width="200" align="right" border="0" cellspacing="5" cellpadding="5">
              <tr>
                <td><a href="#"><img src="images/fwd.gif" border="0" /></a></td>
                <td><a href="#"><img src="images/sub.gif" border="0" /></a></td>
              </tr>
            </table>
            <br>
            <p style="font-family: arial,  helvetica, sans-serif;font-size: 15px;color: #666666;">
		  				FIELD4</p>
            <p style="font-family: arial,  helvetica, sans-serif;font-size: 12px;color: #666666;">
		  				FIELD5</p>
            <p style="font-family: arial,  helvetica, sans-serif;font-size: 15px;color: #666666;">
		  				FIELD6</p>
            <p style="font-family: arial,  helvetica, sans-serif;font-size: 12px;color: #666666;">
		  				FIELD7</p>
            
            <br>
            <font face="Verdana, Arial, Helvetica, sans-serif" color="#666666" size="1">CAN-SPAN<br />Your Company<br />Address, PostCode, Telephone<br /><a href="#">Your Site</a></font><br><br> </TD>
        </TR>
      </TABLE>
</table>
</body>
</html>