<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#8d8e90">
  <tr>
    <td><table width="600" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" align="center">
        <tr>
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="61"><img src="http://ROOT/emarketing/images/TechColumn/PROMO-GREEN2_01_01.jpg" width="61" height="76" border="0" alt=""/></td>
                <td width="144">FIELD-9</td>
                <td width="393"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td height="46" align="right" valign="middle"></td>
                    </tr>
                    <tr>
                      <td height="30"><img src="http://ROOT/emarketing/images/TechColumn/PROMO-GREEN2_01_04.jpg" width="393" height="30" border="0" alt=""/></td>
                    </tr>
                  </table></td>
              </tr>
            </table></td>
        </tr>
         <tr>
          <td align="center"><font style="font-family:'Myriad Pro', Helvetica, Arial, sans-serif; color:#68696a; font-size:36px; text-transform:uppercase"><strong>FIELD-8</strong></font><br/></td>
        </tr>
        <tr>
          <td align="center"><img src="http://ROOT/emarketing/files/FIELD2" alt="" width="598" height="260" border="0"/></td>
        </tr>
        <tr>
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="7%">&nbsp;</td>
                <td width="58%" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="95%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td height="35" align="left" valign="middle" style="border-bottom:2px dotted #000000"><font style="font-family: Georgia, 'Times New Roman', Times, serif; color:#000000; font-size:25px"><strong><em>FIELD-7</em></strong></font></td>
                          </tr>
                          <tr>
                            <td align="left" valign="top"><font style="font-family: Verdana, Geneva, sans-serif; color:#000000; font-size:13px; line-height:21px">FIELD-6</font> <font style="font-family:Verdana, Geneva, sans-serif; color:#7bb40f; font-size:12px; line-height:20px"><a href= "#" style="color:#7bb40f; text-decoration:none"><strong><em>read more} </em></strong></a></font></td>
                          </tr>
                          <tr>
                            <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td height="10" style="border-bottom:4px solid #d0d1d3"></td>
                              </tr>
                              <tr>
                                <td height="10"></td>
                              </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td width="43%"><img src="http://ROOT/emarketing/images/TechColumn/NEWSLETTER GREEN01.jpg" width="150" height="130" border="0" alt=""/></td>
                                <td width="57%" align="left" valign="top"><font style="font-family: Georgia, 'Times New Roman', Times, serif; color:#7bb40f; font-size:20px"><strong><em>FIELD-5</em></strong></font> <br />
                                  <font style="font-family: Verdana, Geneva, sans-serif; color:#000000; font-size:13px; line-height:21px">FIELD-4</font> <font style="font-family:Verdana, Geneva, sans-serif; color:#7bb40f; font-size:12px; line-height:20px"><a href= "#" style="color:#7bb40f; text-decoration:none"><strong><em>read more} </em></strong></a></font><font style="font-family: Verdana, Geneva, sans-serif; color:#000000; font-size:13px; line-height:21px">&nbsp; </font></td>
                              </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td height="10" style="border-bottom:4px solid #d0d1d3"></td>
                              </tr>
                              <tr>
                                <td height="10"></td>
                              </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td width="43%"><img src="http://ROOT/emarketing/images/TechColumn/NEWSLETTER GREEN02.jpg" width="150" height="130" border="0" alt=""/></td>
                                <td width="57%" align="left" valign="top"><font style="font-family: Georgia, 'Times New Roman', Times, serif; color:#7bb40f; font-size:20px"><strong><em>FIELD-3</em></strong></font> <br />
                                  <font style="font-family: Verdana, Geneva, sans-serif; color:#000000; font-size:13px; line-height:21px">FIELD-2</font> <font style="font-family:Verdana, Geneva, sans-serif; color:#7bb40f; font-size:12px; line-height:20px"><a href= "#" style="color:#7bb40f; text-decoration:none"><strong><em>read more} </em></strong></a></font><font style="font-family: Verdana, Geneva, sans-serif; color:#000000; font-size:13px; line-height:21px">&nbsp; </font></td>
                              </tr>
                            </table></td>
                          </tr>
                        </table></td>
                        <td width="5%" style="border-right:2px dashed #95989a">&nbsp;</td>
                      </tr>
                    </table></td>
                  </tr>
                </table></td>
                <td width="35%" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="82%" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td height="10"> </td>
                      </tr>
                      <tr>
                        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td><img src="http://ROOT/emarketing/images/TechColumn/NEWSLETTER GREEN03.jpg" alt="buy her" width="181" height="144" border="0"/></td>
                          </tr>
                          <tr>
                            <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td width="12%">&nbsp;</td>
                                <td width="79%" bgcolor="#7bb40f"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                  <tr>
                                    <td width="5%"></td>
                                    <td width="90%" height="10"></td>
                                    <td width="5%"></td>
                                  </tr>
                                  <tr>
                                    <td>&nbsp;</td>
                                    <td align="center"><font style="font-family: Georgia, 'Times New Roman', Times, serif; color:#ffffff; font-size:16px"><strong>FIELD-1</strong></font></td>
                                    <td>&nbsp;</td>
                                  </tr>
                                  <tr>
                                    <td></td>
                                    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                      <tr>
                                        <td height="5" style="border-bottom:1px solid #ffffff"></td>
                                      </tr>
                                      <tr>
                                        <td height="5"></td>
                                      </tr>
                                    </table></td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td>&nbsp;</td>
                                    <td align="left" valign="top"><font style="font-family: Georgia, 'Times New Roman', Times, serif; color:#ffffff; font-size:14px; line-height:21px">FIELD0<font style="font-family:Verdana, Geneva, sans-serif; color:#ffffff; font-size:12px; line-height:20px"><a href= "#" style="color:#ffffff; text-decoration:none"><strong><em>read more} </em></strong></a></font></font></td>
                                    <td>&nbsp;</td>
                                  </tr>
                                  <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                  </tr>
                                  <tr>
                                    <td>&nbsp;</td>
                                    <td align="center"><img src="http://ROOT/emarketing/images/TechColumn/NEWSLETTER GREEN04.jpg" alt="view more offers" width="129" height="43" style="display:block" border="0"/></td>
                                    <td>&nbsp;</td>
                                  </tr>
                                  <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                  </tr>
                                </table></td>
                                <td width="9%" >&nbsp;</td>
                              </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td>&nbsp;</td>
                          </tr>
                        </table></td>
                      </tr>
                    </table></td>
                    <td width="8%">&nbsp;</td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td><img src="http://ROOT/emarketing/images/TechColumn/PROMO-GREEN2_07.jpg" width="598" height="7" style="display:block" border="0" alt=""/></td>
        </tr>      
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td align="center"><font style="font-family:'Myriad Pro', Helvetica, Arial, sans-serif; color:#231f20; font-size:8px"><strong>FIELD1</strong></font></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
      </table></td>
  </tr>
</table><img src="http://ROOT/emarketing/readreceipt.php?idce=IDD&emailreceiptfrom=EMAILL" height="1" alt="" width="1" />