<body marginheight="0" topmargin="0" marginwidth="0" bgcolor="#c5c5c5" leftmargin="0">
<style type="text/css">
.list a {color: #cc0000; text-transform: uppercase; font-family: Verdana; font-size: 11px; text-decoration: none;}
</style>
<table cellspacing="0" border="1" style="background-image: url(app/images/bg.gif); background-color: #c5c5c5;" cellpadding="0" width="100%">
	<tr>
		<td valign="top">
			<table cellspacing="0" border="0" align="center" style="background: #fff; border-right: 1px solid #ccc; border-left: 1px solid #ccc;" cellpadding="0" width="650">
				<tr>
					<td valign="top">
						<!-- header -->
						<table cellspacing="0" border="0" height="157" cellpadding="0" width="650">
							<tr><td colspan="2">&nbsp;</td></tr>
					
							<tr>
								<td class="main-title" valign="top" style="padding: 0 20px; font-size: 25px; font-family: Georgia; font-style: italic;" width="650" colspan="2">
FIELD-9
								</td>
							</tr>
							<tr>
								<td height="20" valign="top" width="650" colspan="2">
									<hr style="margin:0px 20px 0px 20px;" />
								</td>
							</tr>
							<tr>
								<td class="header-bar" valign="top" style="color: #999; font-family: Verdana; font-size: 10px; text-transform: uppercase; padding: 0 20px; height: 15px;" width="400" height="15">
newsletter update
								</td>
								<td class="header-bar" valign="top" style="color: #999; font-family: Verdana; font-size: 10px; text-transform: uppercase; padding: 0 20px; height: 15px; text-align: right;" width="200">
<a href="FIELD9"><img src="../app/images/facebook.png" style="width:25px;height:25px;" alt="facebook" /></a> 
								</td>
							</tr>
							<tr>
								<td height="10" valign="bottom" width="650" colspan="2">
									<hr style="margin:0px 20px 0px 20px;" />
								</td>
							</tr>
						</table>
						<!-- / header -->
					</td>
				</tr>
				<tr>
					<td>
						<!-- content -->
						<table cellspacing="0" border="0" height="870" cellpadding="0" width="650">
							<tr>
								<td valign="top" width="270">
									<table cellspacing="0" cellpadding="0">
										<tr>
											<td style="padding: 0px 0px 250px 20px;">
												
												
<table cellspacing="0" border="0" cellpadding="0">
												
<strong class="subtitle" style="display: block; font-size: 11px; font-family: Verdana; text-transform: uppercase; margin: 0 0 10px 0;">In this issue</strong>															
<br/>
												<!-- table -->
FIELD-8
											</td>
										</tr>
										<tr>
											<td class="article-title" height="45" valign="top" style="padding: 0 20px; font-family: Georgia; font-size: 20px; font-weight: bold;" width="270" colspan="2">
												
FIELD-7
											</td>
										</tr>
										
										<tr>
											<td class="content-copy" style="padding: 0 20px; color: #000; font-size: 14px; font-family: Georgia; line-height: 20px;">
												
FIELD-6
								
											</td>
										</tr>
										<tr><td>&nbsp;</td></tr>
										<tr>
											<td style="padding: 0 20px;">
FIELD-5
											</td>
										</tr>
										<tr>
											<td class="content-copy" style="padding: 0 20px; color: #000; font-size: 14px; font-family: Georgia; line-height: 20px;">
FIELD-4
											</td>
										</tr>
										<tr><td>&nbsp;</td></tr>
										<tr>
											<td style="padding: 0 0 0 20px;">
FIELD-3
											</td>
										</tr>
										<tr>
											<td class="content-copy" style="padding: 0 20px; color: #000; font-size: 14px; font-family: Georgia; line-height: 20px;">
FIELD-2											</td>
										</tr>
										<tr><td>&nbsp;</td></tr>
										<tr>
											<td>
												<!--button-->
												<table cellspacing="0" border="0" cellpadding="0" width="210">
												<tr>
													<td><br /></td>
												</tr>
												<tr>
													<td valign="top"><img src="images/spacer.gif" width="10" height="20" alt="" /></td>
													<td height="35" bgcolor="#a60000" style="border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; font-size: 10px; font-family: Verdana, 'Times New Roman', Times, serif; color: #333; margin: 0; padding: 0; text-align: center;">
<a class="editlist" href="FIELD8" style="text-decoration: none; color: #fff;">CLICK FOR MORE</a> 														
													</td>
												</tr>
												</table><!--/button-->
											</td>
										</tr>
									</table>
								</td>
								<td valign="top" width="360">
									<table cellspacing="0" style="border-left: 1px solid #ccc;" cellpadding="0">
										<tr>
											<td class="article-title" height="45" valign="top" style="padding: 0 20px; font-family: Georgia; font-size: 20px; font-weight: bold;" width="350" colspan="2">
FIELD-1
											</td>
										</tr>
										<tr>
											<td class="content-copy" valign="top" style="padding: 0 20px; color: #000; font-size: 14px; font-family: Georgia; line-height: 20px;" colspan="2">
FIELD0
											</td>
										</tr>
										<tr>
											<td class="image" valign="top" style="padding: 10px 20px;" colspan="2">
<img style="width:311px;height:179px;" src="../app/files/FIELD7" alt="Image" style="border: 0; display: block;" />
												<br /><br />
											</td>
										</tr>
										<tr>
											<td class="article-title" height="39" valign="top" style="padding: 0 20px; font-family: Georgia; font-size: 20px; font-weight: bold;" width="350" colspan="2">
FIELD1
											</td>
										</tr>
										<tr>
											<td class="content-copy" valign="top" style="padding: 0 20px; color: #000; font-size: 14px; font-family: Georgia; line-height: 20px;" colspan="2">
FIELD2
											</td>
										</tr>
										<tr><td>&nbsp;</td></tr>
										<tr>
											<td class="article-title" height="39" valign="top" style="padding: 0 20px; font-family: Georgia; font-size: 20px; font-weight: bold;" width="350" colspan="2">
FIELD3
											</td>
										</tr>
										<tr>
											<td>
												<table cellspacing="0" border="0" cellpadding="0">
													<tr>
														<td class="floated-copy" valign="top" style="padding: 0 20px 20px 20px; color: #000; font-size: 14px; font-family: Georgia; line-height: 20px;" width="350">
<img style="margin-right:3px;width:160px;height:199px;" src="../app/files/FIELD6" alt="Image" style="border: 0; " align="left" />													
FIELD4														
														</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
						<!--  / content -->
					</td>
				</tr>
				<tr>
					<td valign="top" width="600">
						<!-- footer -->
						<table cellspacing="0" border="0" height="202" cellpadding="0" width="600">
							<tr>
								<td height="20" valign="top" width="600" colspan="2">
									<img src="app/images/breaker.jpg" height="20" alt="" style="border: 0;" width="650" />
								</td>
							</tr>
							<tr>
								<td valign="top">
									<table cellspacing="0" border="0" width="650" cellpadding="0">
										<tr>
											<td class="unsubscribe" valign="top" style="padding: 20px; color: #999; font-size: 14px; font-family: Georgia; line-height: 20px; text-align: center;">
Too many emails? <a href="#" style="color: #cc0000; text-decoration: none;">unsubscribe from this list</a>
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td valign="top" colspan="2">
									<img src="app/images/breaker.jpg" height="20" alt="" style="border: 0;" width="650" />
								</td>
							</tr>
							<tr>
								<td class="copyright" height="100" align="center" valign="top" style="padding: 0 20px; color: #999; font-family: Verdana; font-size: 10px; text-transform: uppercase; line-height: 20px;" width="650" colspan="2">
FIELD5
								</td>
							</tr>
						</table>
						<!-- / end footer -->
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<img src="http://ROOT/emarketing/app/readreceipt.php?idce=IDD&emailreceiptfrom=EMAILL" height="1" alt="" width="1" />
</body>